<div class="product-card" data-series="{{ product.metafields.custom.series | downcase }}">
  <a href="{{ product.url }}" class="product-card__image-wrap">
    <img
      src="{{ product.featured_image | img_url: '600x' }}"
      alt="{{ product.title | escape }}"
      width="600"
      loading="lazy"
    >
    {%- if product.metafields.custom.series != blank -%}
      <span class="product-card__badge">{{ product.metafields.custom.series }}</span>
    {%- endif -%}
  </a>
  <div class="product-card__info">
    <div>
      <p class="product-card__name">{{ product.title }}</p>
      {%- if product.metafields.custom.country != blank -%}
        <p class="product-card__sub">{{ product.metafields.custom.country }}</p>
      {%- endif -%}
    </div>
    <span class="product-card__price">{{ product.price | money }}</span>
  </div>
</div>
